:root {
  --color-calendar-graph-day-bg: #dddbdb;
  --color-calendar-graph-day-L1-bg: #4da1a9;
  --color-calendar-graph-day-L2-bg: #3d8186;
  --color-calendar-graph-day-L3-bg: #1b5256;
  --color-calendar-graph-day-L4-bg: #082f35;
}

rect.ContributionCalendar-day[data-level="0"] {
  fill: var(--color-calendar-graph-day-bg);
}

rect.ContributionCalendar-day[data-level="1"] {
  fill: var(--color-calendar-graph-day-L1-bg);
}

rect.ContributionCalendar-day[data-level="2"] {
  fill: var(--color-calendar-graph-day-L2-bg);
}

rect.ContributionCalendar-day[data-level="3"] {
  fill: var(--color-calendar-graph-day-L3-bg);
}

rect.ContributionCalendar-day[data-level="4"] {
  fill: var(--color-calendar-graph-day-L4-bg);
}

.calendar .width-full > .float-left {
  display: none;
}

.calendar {
  font-family: Helvetica, arial;
  border-radius: 3px;
  min-height: 243px;
  text-align: center;
  margin: 0 auto;
}

.calendar-graph text.wday,
.calendar-graph text.month {
  font-size: 10px;
  fill: #aaa;
}

.calendar-graph {
  padding: 5px 0 0;
  text-align: center;
}

.table-column {
  display: none;
}

text.ContributionCalendar-label {
  fill: #ccc;
  font-size: 11px;
}
